:root
{
    /*colors*/
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --orange: #F4882E;

    /*Breeflee Palette*/
    --breeflee_peach_orange: rgba(255, 163, 104, 1);
    --breeflee_yellow: rgba(255, 185, 72, 1);
    --breeflee_rosa: rgba(254, 109, 115, 1);
    --breeflee_blue_green: rgba(34, 124, 157, 1);
    --breeflee_green: rgba(116, 199, 171, 1);
    --breeflee_green_light: rgba(116, 199, 171, 0.2);

    --grey_black: #191F28;
    --grey_dark: #4A4A4A;
    --grey_medium_dark: #B6B6B7;
    --grey_medium_light: #D8D8D8;
    --grey_light: #F0F0F0;
    --grey_ultra_light: #F8F9FA;

    /*svg Palette*/
    --filter_breeflee_peach_orange: invert(72%) sepia(28%) saturate(1038%) hue-rotate(328deg) brightness(101%) contrast(102%);
    --filter_breeflee_yellow: invert(73%) sepia(14%) saturate(1786%) hue-rotate(354deg) brightness(102%) contrast(101%);
    --filter_breeflee_rosa: invert(59%) sepia(61%) saturate(5743%) hue-rotate(326deg) brightness(122%) contrast(99%);
    --filter_breeflee_blue_green: invert(45%) sepia(23%) saturate(1421%) hue-rotate(150deg) brightness(88%) contrast(89%);
    --filter_breeflee_green: invert(76%) sepia(49%) saturate(276%) hue-rotate(109deg) brightness(86%) contrast(92%);

    --filter_grey_black: invert(8%) sepia(3%) saturate(6978%) hue-rotate(177deg) brightness(96%) contrast(89%);
    --filter_grey_dark: invert(29%) sepia(0%) saturate(4945%) hue-rotate(55deg) brightness(94%) contrast(87%);
    --filter_grey_medium_dark: invert(77%) sepia(0%) saturate(57%) hue-rotate(81deg) brightness(98%) contrast(85%);
    --filter_grey_medium_light: invert(82%) sepia(4%) saturate(7%) hue-rotate(346deg) brightness(105%) contrast(94%);
    --filter_grey_light: invert(99%) sepia(0%) saturate(147%) hue-rotate(128deg) brightness(119%) contrast(88%);
    --filter_grey_ultra_light: invert(100%) sepia(23%) saturate(617%) hue-rotate(177deg) brightness(101%) contrast(95%);

    /*measures and transition*/
    --transition05s: 0.5s;
    --transition0s: 0s;
    --topbar_height: 60px;
    --menu_opened: 200px;
    --menu_closed: 80px;
    --patient_first_col: 25vh;
    --patient_todo_col: 25vh;
    --patient_todo_col_closed: 0vh;
    --padding_half_line: 12px; /*for forms*/
    --input_border_rad: 20px; /*login*/
}


/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}