@import '/static/css/constants.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial',sans-serif;
  }





  head {
  position: center;
  }

 body{
    display: block;
    height: 100vh;
    place-items:center;
    #background: var(--breeflee_peach_orange);
    background: radial-gradient(var(--breeflee_yellow), var(--breeflee_peach_orange) ); /*#F4882E*/
    background-repeat: cover;
  }

  html {
    color: #F4882E;
  }

  .content{
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: transparent;
    width: 600px;
  }

  .main_div{
    width: 100%;
    background: white;
    #background: rgba(255, 255, 255, 0.75);
    padding: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    0border: 4px solid var(--white);
    border-radius: 40px;
  }

  form {
    /*position: relative;*/
    margin-top: 0px;
  }

  .input_box{
    display: flex;
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    background: var(--white);
    border-radius: var(--input_border_rad);
    border: 2px solid var(--grey_medium_light);
  }

  .input_box input{
    height: 100%;
    width: 100%;
    outline: none;
    border-radius: var(--input_border_rad);
    #text-align: center;
    font-size: 17px;
    transition: all 0.3s ease;
    color: var(--grey_dark);
    border: none;
  }

  form .input_box:focus-within{
  border: 3px solid var(--breeflee_peach_orange);
  }


.input_box span {
    #color: #222;
    width: 70px;
    line-height: 45px;
    padding-inline: 5%;
}



  form .option_div{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
  }

  .option_div .check_box{
    display: flex;
    align-items: center;
  }

  .option_div span{
    margin-left: 5px;
    font-size: 15px;
    color: #333;
  }


.submit_button {
    border: 0px;
}

.submit_button input {
    padding-left: 0;
    background: var(--breeflee_blue_green);
    color: #fff;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;

  }


  .submit_button input:hover{
    background: var(--breeflee_green);
  }
  
  form a{
    text-decoration: none;
  }
  form a:hover{
    text-decoration: underline;
  }
  
  .logo {
   margin: auto;
    #height: 400px;
    width: 100%;
  }

img {
  max-height: 100%;
  max-width: 100%;
}

.logo img{
    padding: 20px;
  /*position:relative;
  top:00px;
  border:0px;*/
  }

.span img{

}

.loginerror {
    display: none;
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    background: rgba(254, 109, 115, 0.2);
    color: var(--breeflee_rosa);
    border: 0px solid var(--breeflee_rosa);
    padding: 10px 0 10px 0;
    justify-content: center;
  }




  .progress {
    display: none;
    height: 40px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    #background: var(--white);
    padding: 10px 0 10px 0;
    justify-content: center;
  }


.progress .indicator:nth-child(1){
  animation : fade 1s ease 0s infinite;
}

.progress .indicator:nth-child(2){
  animation : fade 1s ease 100ms infinite;
}

.progress .indicator:nth-child(3){
  animation : fade 1s ease 200ms infinite;
}

.progress .indicator:nth-child(4){
  animation : fade 1s ease-in-out 300ms infinite;
}

.indicator{
  background-color: var(--breeflee_rosa);
  #background-color: linear-gradient(to right, var(--breeflee_yellow), var(--breeflee_blue_green));
  width : 10px;
  height: 10px;
  border-radius: 10px;
  display: inline-block;
  margin: 10px;
  opacity: 0;
}

@keyframes fade {
  0% {
    transform : scale(0.3);
    opacity: 0;
  }
  50% {
    transform : scale(1);
    opacity: 1;
  }
  100% {
    transform : scale(0.3);
    opacity: 0;
  }
}

