@import '/static/css/constants.css';

/*
.formbreeflee-main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
}*/

.formbreeflee-form-wrapper {
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
  background: white;
}

.formbreeflee-half-line-padding {
  margin-left: calc(var(--padding_half_line) * -1);
  margin-right: calc(var(--padding_half_line) * -1);
}

.formbreeflee-whole-line {
  margin-bottom: 0px;
}

.formbreeflee-pt-3 {
  padding-top: 12px;
}

.formbreeflee-form-label {
  display: block;
  padding-top: calc(var(--padding_half_line)*2);
  padding-bottom: var(--padding_half_line);
  font-weight: 500;
  font-size: 16px;
  color: var(--grey_black); /*#07074d;*/
  #margin-bottom: 12px;
}


.formbreeflee-form-input {
  width: 100%;
  padding: var(--padding_half_line) calc(var(--padding_half_line)*2);
  border-radius: 6px;
  border: 1px solid var(--grey_medium_light);
  background: white;
  font-weight: 500;
  font-size: 16px;
  color: var(--grey_dark); /*#6b7280;*/
  outline: none;
  resize: vertical;
}

.textarea{
  resize: vertical;
}

.formbreeflee-form-input:focus {
  border: 3px solid var(--breeflee_peach_orange); /*#6a64f1;*/
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
}



.formbreeflee-segmented-radio {

  position:relative;
  display:inline;

  }

  .formbreeflee-segmented-radio label span {

    padding: var(--padding_half_line) calc(var(--padding_half_line)*2);
    border: 1px solid var(--grey_medium_light);
    background: var(--white) ;
    position:relative;
    #z-index:10;
    cursor: pointer;

  }

    .formbreeflee-segmented-radio label span:hover{
      background: var(--white);
      border: 1px solid var(--breeflee_peach_orange);
      color: var(--breeflee_peach_orange);
    }


  .formbreeflee-segmented-radio label:first-of-type span{
    border-radius: 6px 0 0 6px;
    #border-width: 1px 0 1px 1px;
  }
  .formbreeflee-segmented-radio label:last-of-type span{
    border-radius: 0 6px 6px 0;
  }
  .formbreeflee-segmented-radio input[type="radio"] {
    margin-top: calc(var(--padding_half_line)*2);
    margin-bottom: calc(var(--padding_half_line)*1);
    filter:alpha(opacity=0);
    -moz-opacity:0;
    -khtml-opacity: 0;
    opacity: 0;
    width:0;

    height:0;
    margin-left: calc(var(--padding_half_line) * -1);
  }

  .formbreeflee-segmented-radio label input[type="radio"]:checked + span{
    background: var(--breeflee_peach_orange);
    border: 1px solid var(--breeflee_peach_orange);
    color: var(--white);
  }



.formbreeflee-btn {
  text-align: center;
  font-size: 16px;
  border-radius: 6px;
  padding: var(--padding_half_line) calc(var(--padding_half_line)*2);
  border: none;
  font-weight: 600;
  background-color: var(--breeflee_blue_green); /*#6a64f1;*/
  color: white;
  cursor: pointer;
  margin-top: calc(var(--padding_half_line)*2);
  margin-bottom: calc(var(--padding_half_line)*2);
}


.formbreeflee-btn:hover {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  background-color: var(--breeflee_green);
}


.formbreeflee-px-3 {
  padding-left: var(--padding_half_line);
  padding-right: var(--padding_half_line);
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.flex-wrap {
  flex-wrap: wrap;
}

.w-full {
  width: 100%;
}

.formbreeflee-radio {
  width: 20px;
  height: 20px;
  #margin-top: calc(var(--padding_half_line)*2);
}

.formbreeflee-radio-label {
  font-weight: 500;
  font-size: 16px;
  #padding-top: calc(var(--padding_half_line)*2);
  padding-bottom: var(--padding_half_line);
  padding-left: var(--padding_half_line);
  color: var(--grey_black);
  padding-right: 24px;
}


@media (min-width: 540px) {
  .sm\:w-half {
    width: 50%;
  }
}
