@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu' , sans-serif;
}

:root
{
    --blue: #287bff;
    --white: #fff;
    --grey: #f5f5f5;
    --black1: #222;
    --black2: #999;
    --orange: #F4882E;
}

body
{
    min-height: 100vh;
    overflow-x: hidden;
}

.container
{
    position: relative;
    width: 100%;
}

.navigation
{
    position: fixed;
    width:  300px;
    height: 100%;
    background: radial-gradient(#ffa500, #F4882E);
    border-left: 10px solid var(--orange);
    transition: 0.5s;
    overflow: hidden;
}

.navigation.active
{
    width: 80px;
}

.navigation ul
{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.navigation ul li:hover,
.navigation ul li.hovered
{
    background: var(--white);
}
.navigation ul li:nth-child(1)
{
    margin-bottom: 40px;
    pointer-events: none;
}
.navigation ul li a
{
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
}
.navigation ul li:hover a,
.navigation ul li.hovered a
{
    color: var(--orange);
}
.navigation ul li a .icon
{
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 70px;
    text-align: center;
}
.navigation ul li a .icon ion-icon
{
    font-size: 1.75em;
}
.navigation ul li a .title
{
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}
/* curve outside */

.navigation ul li:hover a::before,
.navigation ul li.hovered a::before
{
    content: '';
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
}
.navigation ul li:hover a::after,
.navigation ul li.hovered a::after
{
    content: '';
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
}

/* main */
.main
{
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
}
.main.active
{
    width: calc (100% - 80px);
    left: 80px;
}

.topbar
{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.toggle
{
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
    color: orange;
}

.search
{
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label
{
    position: relative;
    width: 100%;
}

.search label input
{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label ion-icon
{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2em;
}

.user
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo { 
    height: 25px;
    width: 200px;
    position:relative;
    left: 25px;
    top:25px;
    border:0px;
    margin-bottom: 30px;
  }

img {
  max-height: 100%;
  max-width: 100%;
}
  
  .datetime {
    font-size: 16px;
    padding: 24px;
    color: var(--orange);
    border-radius: 2px;
    border-left: 10px var(--orange) solid;
    width: 400px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
  }
  
  .time {
    font-size: 3em;
    color: var(--orange);
  }
  
  .date {
    margin-top: 12px;
    font-size: 1.75em;
  }

 .patient {
    position: relative;
    font-size: 10px;
    color: black;
    left: 100px;
    top: 160px;
    width: 100%;
}

.patientbild {
    position: relative;
    height: 200px;
    left: 100px;
    width: 200px;
    top: -170px;
}

.button {
    position: relative;
    left: 100px;
    top: 170px;
}

.button input{
    background: #efeeea;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 150px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: 10px var(--orange) solid;
  }

  .button input:hover{
    background: #BEBEBE;
  }

  .vl {
    position: relative;
    border-left: 1px solid #BEBEBE;
    height: 900px;
    position: absolute;
    left: 320px;
    margin-left: -3px;
    top: 80px;
  }

  .vl1 {
    position: relative;
    border-left: 1px solid #BEBEBE;
    height: 900px;
    position: absolute;
    left: 1500px;
    margin-left: -3px;
    top: 90px;
  }

  hr {
    position: relative;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    width: 250px;
    left: -52px;
}

.diagramm {
    position: relative;
    top: -300px;
    left: 330px;
}

.ueberschriften {
    padding: 10px;
    font-size: 15px;
    color: #BEBEBE;
}

.informationen {
    padding: 10px;
    font-weight: 700;
    font-size: 20px;
}

.todo {
    position: relative;
    left: 1500px;
    top: -1050px;
}

.todo_ueberschrift {
    padding: 10px;
    font-size: 15px;
    color: #BEBEBE;
}

.button1 {
    position: relative;
    top: 25px;
}

.button1 input{
    background: #efeeea;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s linear;
    width: 50px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    border-color: 10px var(--orange) solid;
  }

  .button1 input:hover{
    background: #BEBEBE;
  }

  .wrapper {
    margin: 20px;
  }
  
  .menu,
  .sub-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .menu li {
    background-color: #F0F0F0;
    cursor: pointer;
    position: relative;
    transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
    -webkit-transition: background-color .5s;
  }
  
  .menu li:hover {
    background-color: #ffa500; 
  }
  
  .menu a {
    color: #989898;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    word-wrap: break-word;
  }
  
  .menu a:hover {
    color: #FFF;
  }

  .menu {
    position: relative;
    left: 330px;
    height: 50px;
    width: 900px;
  }
  
  .menu > li {
    float: left;
    height: 100%;
    width: 15%; 
    width: calc((100% - 90px) / 5);
    width: -moz-calc((100% - 90px) / 5);
    width: -webkit-calc((100% - 90px) / 5);
  }
  
  .menu > li.home {
    background: #3E454D url(http://s26.postimg.org/qbf4q4j9h/home.png) center no-repeat;
    width: 90px;
  }
  
  .menu > li.current {
    background-color: #ffa500; 
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    width: 50px;

  }
  
  .menu > li:not(:first-child) {
    box-shadow: inset 1px 0 0 0 #D3D3D3, inset 2px 0 0 0 #D3D3D3;
    -moz-box-shadow: inset 1px 0 0 0 #D3D3D3, inset 2px 0 0 0 #D3D3D3;
    -webkit-box-shadow: inset 1px 0 0 0 #D3D3D3, inset 2px 0 0 0 #D3D3D3;
  }
  
  .menu > li.home > a {
    color: transparent;
  }
  
  .menu > li > a > span {
    left: 0; 
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);

  }

  .sub-menu {
    max-height: 0;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 100%;
    transition: max-height .5s .2s;
    -moz-transition: max-height .5s .2s;
    -o-transition: max-height .5s .2s;
    -webkit-transition: max-height .5s .2s;
  }
  
  li:hover > .sub-menu {
    max-height: 600px;
  }
  
  .sub-menu li {
    height: 50px;
  }
  
  .sub-menu a {
    line-height: 60px;
    transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    -webkit-transition: color .5s;
    white-space: nowrap;
  }
  
  .sub-menu li.current a,
  .sub-menu a:hover {
    color: #F2762E !important;
  }
